<section class="hero-inicio">
        <h3 class="eslogan">
          Valida tus conocimientos en los frameworks más usados del mundo.
        </h3>
        <h2 class="title-inicio">
          Obtén certificaciones oficiales en React, Next, Express y más.
        </h2>
        <button id="ver-certificaciones">Ver certificaciones</button>
      </section>

      <section class="cards-main">
        <div class="card-main"><img src="img/demuestraTusH.jpg" alt=""><p>Demuestra tus habilidades profesionales.</p></div>
        <div class="card-main"><img src="img/oportunidadesL.jpg" alt=""><p>Aumenta tus oportunidades laborales.</p></div>
        <div class="card-main"><img src="img/mapaPines.jpg" alt=""><p>Certificaciones válidas internacionalmente.</p></div>
        <div class="card-main"><img src="img/aprenderProgra.png" alt=""><p>Aprende con evaluaciones prácticas.</p></div>
      </section>

      <section class="section-inicio">
        <div class="section-inicio-left">
          <h1 class="porque-certifcarte">
            PORQUE DEBES <span>CERTIFICARTE</span> EN NUESTRO PROGRAMA
          </h1>
          <p class="info-empresa">
            En Code Validated creemos que la validación del código es más que un
            proceso: es el sentir. En un mundo donde la tecnología avanza
            constantemente y las empresas buscan estar un paso adelante, contar
            con una certificación te brinda un respaldo y una ventaja
            competitiva tangible, sólida y confiable.
          </p>
        </div>
        <div class="section-inicio-right">
          <img src="img/caracteristicas.png" alt="" />
        </div>
      </section>